importFrom(irrCAC, bp.coeff.raw)
importFrom(combinat, combn)
importFrom(eatGADS, import_spss)
importFrom(irr, agree, kappa2)
importFrom(readxl, read_excel)
importFrom(foreign, write.foreign, read.spss)
importFrom(reshape2, dcast, melt)
importFrom(eatTools, asNumericIfPossible, crop, set.col.type, multiseq,
           insert.col, existsBackgroundVariables, whereAre, halveString,
           recodeLookup, addLeadingZerosToCharInt)
importFrom(stats, aggregate, cor, lag, na.omit, runif,
               weighted.mean)
importFrom(utils, menu, flush.console, write.csv2, write.table)
importFrom(cli,
           start_app,
           qty,
           cli_h1, cli_h2, cli_h3,
           cli_abort, cli_ul,
           test_that_cli,
           cli_alert, cli_alert_success, cli_alert_info, cli_alert_warning, cli_alert_danger)
export(aggregateData)
export(automateDataPreparation)
export(catPbc)
export(checkData)
export(checkDesign)
export(checkInputList)
export(collapseMissings)
export(evalPbc)
export(mergeData)
export(readDaemonXlsx)
export(readMerkmalXlsx)
export(readSpss)
export(recodeData)
export(mnrCoding)
export(scoreData)
export(writeSpss)
export(make.pseudo)
export(meanAgree)
export(meanKappa)
export(prep2GADS)
export(visualSubsetRecode)
# export(checkInput)
# export(loadSav)
# export(makeCodebookInput)
# export(makeInputLists)
