importFrom(irrCAC, bp.coeff.raw)
importFrom(combinat, combn)
importFrom(haven, read_sav)
importFrom(irr, agree, kappa2)
importFrom(readxl, read_excel)
importFrom(foreign, write.foreign, read.spss)
importFrom(reshape2, dcast, melt)
importFrom(eatTools, asNumericIfPossible, crop, set.col.type, multiseq,
           insert.col, existsBackgroundVariables, whereAre, halveString,
           recodeLookup, addLeadingZerosToCharInt)
importFrom("stats", "aggregate", "cor", "lag", "na.omit", "runif",
               "weighted.mean")
importFrom("utils", "flush.console", "write.csv2", "write.table")
export(aggregateData)
export(automateDataPreparation)
export(catPbc)
export(checkData)
export(checkDesign)
export(collapseMissings)
export(mergeData)
export(readDaemonXlsx)
export(readMerkmalXlsx)
export(readSpss)
export(recodeData)
export(mnrCoding)
export(scoreData)
export(writeSpss)
# removed from eatTools to eatPrep
export(make.pseudo)
export(meanAgree)
export(meanKappa)
# export(prep2gads)
# export(checkInput)
# export(loadSav)
# export(makeCodebookInput)
# export(makeInputLists)
