importFrom(car, recode)
importFrom(xlsx, read.xlsx)
importFrom(xlsx, read.xlsx2)
importFrom(xlsx, write.xlsx)
importFrom(foreign, read.spss)
importFrom(foreign, write.foreign)
importFrom(reshape2, melt)	
importFrom(reshape2, dcast)	
export(aggregateData)
export(automateDataPreparation)
export(catPbc)
export(checkData)
export(checkDesign)
export(collapseMissings)
export(mergeData)
export(readDaemonXlsx)
export(readSpss)
export(recodeData)
export(mnrCoding)
export(scoreData)
export(set.col.type)
export(asNumericIfPossible)
export(writeSpss)
# export(checkInput)
# export(loadSav)
# export(makeCodebookInput)
# export(makeInputLists)









